<% content_for :title do %>
  <%= "New restaurant" %>
<% end %>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <h1>New restaurant</h1>

    <%= render 'restaurant_form' %>

  </div>
</div>
